@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;

700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  max-width: 75rem;
  margin: auto;
}

header {
  text-align: center;
}

header nav {
  background-color: #0282F9;
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 1.25rem;
}

header nav ul li.active a {
  color: red;
}

header nav a {
  text-decoration: none;
}

.jumbo {
  height: 12.5rem;
  background-image: url("/images/jumbotron.jpg");
}

.section_main {
  background-color: black;
}

.container_comics {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 3.125rem 0;
}

.container_comics .card {
  width: 16.6666666667%;
  padding: 5px;
}

.container_comics .card_title {
  color: white;
}

.container_comics .card_img {
  height: 9.5rem;
  width: 9.5rem;
  padding: 0.3125rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.container_comics li {
  color: white;
}

