header{
    text-align: center;
    nav{
        display: flex;
        justify-content: center;
        ul{
            display: flex;            
            align-items: center;
            list-style: none;
            // :nth-child(2){
            //     border-bottom: 1px solid $primary_color;
            // }
            li{
                padding: 1.25rem;
                &.active{
                    a{
                        color: $primary_color;
                        border-bottom: 1px solid $primary_color;
                    }
                }
            }
        }

        a{
            text-decoration: none;
        }
    }
}

.jumbo{
    height: 12.5rem;
    background-image: url("/images/jumbotron.jpg");
}